body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    border-bottom: 1px solid rgb(186, 180, 180);
    background: white;
    position: fixed;
    width: 100%;
}
.logo {
    margin-left: 4%;
}
.headerlinks {
    margin-right: 4%;
    display: none;
}
.bars {
    display: block;
     margin-right: 4%;
}
.logo>img {
    width: 150px;
    height: auto;
}
.links {
    font-size: 17px;
    font-weight: 100;
    padding: 10px;
    color: black;
}
.buynow {
    padding: 18px 25px;
    background-color:rgb(4, 165, 165);
    border-radius: 9px;
    color: white;
    font-size: 17px;
}
.part2img {
    background: url(./image/bg-pages.jpg)center/cover no-repeat;
    width: 100%;
    height: 420px;
    z-index: 1;   
}
.text2 {
    margin-top: 15%;
    font-size: 28px;
    margin-left: 4%;
    padding: -20px;
}
.subtext1 {
    font-size: 20px;
}

.part3 {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
}
.part3img>img {
    width: 100%;
    height: 290px;
    border-radius: 30px;
}
.part4 {
    display: block;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 7%;
}
.text4 {
    font-size: 29px;
    word-spacing: 3px;
}
.minitext {
    font-size: 13px;
}
#font {
    display: flex;
    align-items: center;
    color: rgb(4, 165, 165);
}
.subtext4 {
    font-size: 16px;
    word-spacing: 1px;
    color: rgb(114, 111, 111);
}
.part5 {
    margin-left: 4%;
    margin-right: 4%;
}
.image5 {
    width: 100%;
    height: 350px;
    background:url(./image/wave-mask.png)center/cover no-repeat rgb(4, 165, 165);
    border-radius: 30px;
    z-index: -1;
}
.text5 {
    font-size: 30px;
    word-spacing: 3px;
    text-align: center;
    padding-top: 25px;
    color: white;
}
.subtexto {
    font-size: 16px;
    word-spacing: 0px;
}
.circlei {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 43%;
}
.circled {
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid white;
    margin-left: 6px;
    margin-top: 6px;    

}
.circled>i {
    color: rgb(4, 165, 165);
    padding: 20px;
    padding-top: 35px;
}
.container {
    margin: 0 auto;
    width: 100%;
}
.boxdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}
.boxdiv div {
    background: red;
    width: 300px;
    height: 200px;
}
.part6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-right: 4%;
}
.text6 {
    font-size: 30px;
    text-align: center;
}
.subtext6  {
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
}
.true {
    background: rgb(223,241,240);
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    margin-top: -10px;
    /* color: rgb(206,236,234); */
    /* padding-bottom: -10%; */
}
.part7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40%;
}
.container {
    width: 95%;
}
.boxcont {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 6%;
}
.box {
    background: #ceecee;
    width: 57px; 
    height: 60px;   
    border-radius: 4px;
}
.box i {
    padding-top: 30px;
    padding-left: 12px;
    color: rgb(15,163,151);
}
.boxtext {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.sub6i  {
    margin-top: 19%;
    font-size: 15px;
    color: rgb(114, 111, 111);
    text-align: left;
    margin-left: -18%;
}
.part8 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 10%;
}
.text8 {
    font-size: 32px;
    text-align: center;
}
.subtext8 {
    font-size: 16px;
    text-align: center;
}
.truei {
    background: rgb(223,241,240);
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    margin-top: -10px;
}
.part9 {
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 120px;
}
.part9img {
    display: block;
    align-items: center;
    justify-content: space-between;
}
.first img {
    width: 440px;
    height: 450px;
    border-radius: 10%;
    margin-top: 10%;
}
.name9 {
    font-size: 29px;
    text-align: center;
}
.sub9 {
    font-size: 15px;
    text-align: center;
    padding-top: 14px;
    color: #b0b4b4;
}
.line {
    border: 1px solid rgb(206, 196, 196);
    width: 380px;
    margin-left: 40px;
    margin-top: 20px;
}
.fonts a {
    color: black;
    padding: 10px;
}
.part10 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 6%;
}
.text10 {
    font-size: 36px;
    text-align: center;
}
.subtext10 {
    font-size: 16px;
    text-align: center;
    margin-top: -15px;
}
.trueo {
    background: rgb(223,241,240);
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    margin-top: -10px;
}
.part11 {
    margin-right: 4%;
    margin-left: 2%;
    margin-bottom: 20%;
}
.logocont {
    display: block;
    align-items: center;
    justify-content: center;
    background: rgb(4, 165, 165);
    width: 65%;
    height: 360px;
    padding-left: 35%;
    padding-right: 10px;
    border-radius: 10px;
}
.logocont div img {
    padding: 20px;
    border-radius: 10%;
}

















@media screen and (min-width: 768px) {
    .headerlinks {
        display: block;
    }
    .bars {
        display: none;
    }
    .part4 {
        display: flex;
    }
    #font {
        margin-bottom: -4%;
    }
    .boxcont {
        display: flex;
    }
    .sub6i {
        margin-top: 39%;
        padding-left: -110px;
        margin-left: -30%;
    }
    .part7 {
        margin-left: 0%;
    }
    .sub6i  {
        margin-top: 29%;
        margin-left: -28%;
    }
    .part9 {
        margin-right: 4%;
        margin-left: 4%;
        margin-bottom: 120px;
    }
    .part9img {
        display: flex;
    }
    .first img {
        width: 255px;
        height: 270px;
        border-radius: 10%;
        margin-top: 0%;
    }
    .line {
        width: 170px;
        margin-left: 40px;
        margin-top: 20px;
    }
    .fonts a {
        color: black;
        padding: 10px;
    }
    .logocont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 200px;
        padding-left: 10px;
        width: 100%;

    }
}